 /*  



Issues with modernizr & no-flexbox (*), keep calm and fallback:
(*)
.no-js,
.no-flexbox {}


http://osvaldas.info/flexbox-based-responsive-equal-height-blocks-with-javascript-fallback


  */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.flex-baseline {
    align-items: baseline;
}

.flex-stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.flex-justify {
    justify-content: space-between;
}

.flex-first {
    order: -1;
}

.flex-last {
    order: 1024;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-grow {
    flex: 1 0 auto;
}

.flex-none {
    flex: none;
}

.flex > div {
    box-sizing: border-box;
}

/*
 * Basscss Flex Object
 */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.flex-baseline {
    align-items: baseline;
}

.flex-stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.flex-justify {
    justify-content: space-between;
}

.flex-first {
    order: -1;
}

.flex-last {
    order: 1024;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-grow {
    flex: 1 0 auto;
}

.flex-none {
    flex: none;
}

.flex > div {
    box-sizing: border-box;
}

 /*  

a.shield
span.shield-label aloha
img.shield-icon 


  */

.flex-inline {
    display: inline-flex;
    align-items: center;
}

 /*   


 microflex.scss 
 https://gist.github.com/haggen/f0a369deb5cacaacf792

  */

 /*  

In german, because they are efficient

Flex everything, eins = container, zwei = child item 
 

.eins{

display:flex;
flex-direction: column;

.zwei,.drei{
 flex: 1 1 auto; 
} 

}

.eins > div {
  box-sizing: border-box;
}



@media only screen and (min-width: 40.063em) {
   
.eins{
flex-direction: row;
}

.eins > div {
  box-sizing: border-box;
}

}



 */