 /*  

 $type paramater takes either "normal" which is a fade to black, or "invert" which is a fade to white.

 @include cast($shadow-color,125);

 */

@mixin cast($color, $length, $type: "normal") {
    $shadow: "";
    @for $i from 1 through $length {
        @if $type == "normal" {
            $gradation: 100 / $length;
            $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(black, $color, $i * $gradation) + ",";
            @if $i == $length {
                $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(black, $color, $i * $gradation);
            }
            @else {
                $gradation: 100 / $length;
                $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(black, $color, $i * $gradation) + ",";
                @if $i == $length {
                    $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(black, $color, $i * $gradation);
                }
            }
        }
        @if $type == "invert" {
            $gradation: 100 / $length;
            $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(white, $color, $i * $gradation) + ",";
            @if $i == $length {
                $shadow: $shadow + $i + "px " + $i + "px 0px " + mix(white, $color, $i * $gradation);
            }
        }
    }
    text-shadow: #{$shadow};
}