body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, a, abbr, acronym, canvas, fieldset, legend, input, button, textarea, blockquote, th, td, div, span, em, img, small, strong, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@media only screen and (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}

ol, ul {
    list-style: none !important;
}

*, *:after, *:before {
    box-sizing: border-box;
    position: relative;
}