/* 


http://www.sitepoint.com/sass-theming-neverending-story/

<div class="media  theme-unicorn  border-color-primary">
  <img class="media__image" src="http://lorempixel.com/100/100" />
  <h2 class="media__title  color-secondary">This is the headline</h2>
  <p class="media__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nulla voluptatibus quisquam tenetur quas quidem, repudiandae vel beatae iure odit odio quae.</p>
</div>


<div class="media  theme-dragons  border-color-primary">
  <img class="media__image" src="http://lorempixel.com/100/100" />
  <h2 class="media__title  color-secondary">This is the headline</h2>
  <p class="media__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nulla voluptatibus quisquam tenetur quas quidem, repudiandae vel beatae iure odit odio quae.</p>
</div>




 */

$themes: ("unicorn": ("primary": hotpink, "secondary": pink), "dragon": ("primary": firebrick, "secondary": red)) !default;

/// Themify mixin
/// @param {Map} $themes [$themes] - Map of themes to use
@mixin themify($themes: $themes) {
    // Properties to output, more can be added (e.g. `border-left-color`)
    $properties: "border-color", "background-color", "color";
    // Iterate over the themes
    @each $theme, $colors in $themes {
        // Iterate over the colors from the theme
        @each $color-name, $color in $colors {
            // Iterate over the properties
            @each $property in $properties {
                // Create a selector
                // e.g. `.theme .color-primary, .theme.color-primary`
                .theme-#{$theme} .#{$property}-#{$color-name},
                .theme-#{$theme}.#{$property}-#{$color-name} {
                    #{$property}: $color;
                }
            }
        }
    }
}

/**
 * Media object
 */
.media {
    margin: 15px;
    padding: 15px 0;
    border-top: 5px solid;
    float: left;
}

/**
 * Media title
 */
.media__title {
    font-size: 1em;
    margin: 0 0 10px;
}