 /*  

LOOK AT MIXINS


      br
      br   


      a.button--white Error 
      a.button--white.button--small Error
      a.button--white.button--large Error
      a.button--white
        i.fa.fa-times
        | Error
      a.button--white.button--icon
        i.fa.fa-times
        | Error

      br
      br   


use currentColor css property for :pseudo or hr inside posts so that element inherits color


Keep calm and fallback:   .no-generatedcontent & {  }

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

*/

$button-color: red;
$default-button: green;
$border-radius-button: 3px;

.button,
[class*='button--'] {
    /*     margin: 0 1rem calc(1rem + 4px) 0; Account for extra height from box shadow */
    padding: 1em 2em;
    border-radius: $border-radius-button;
    display: block;
    max-width: 240px;
    margin-bottom: 2em;
    @include button($default-button);
}

/* Colors */

.button--white {
    @include button($darth);
    color: $luke;
}

/* Sizes */

.button--large {
    font-size: 32px;
    font-size: 2rem;
    padding-top: .5em;
    padding-bottom: .5em;
}

.button--small {
    font-size: 13px;
    font-size: .8rem;
    padding: .5em 1.5em;
}

/* Icons */

.button--icon {
    padding-left: 4em;
    padding-right: 1em;
    > i {
        position: absolute;
        top: 50%;
        left: 1em;
        margin-top: -.5em;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3em;
        border-radius: $border-radius-button 0 0 $border-radius-button;
        box-shadow: 0 2px 0 rgba(red, 0.25);
        background-color: red;
        transition: all .25s;
    }
    &:hover:before {
        box-shadow: none;
    }
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}