a {
    background: transparent;
    color: $darth;
    text-decoration: none;
}

a:visited {
    color: $darth;
    text-decoration: none;
}

a:active, a:hover {
    outline: none;
}

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: $darth;
}

/*

A link without any text-decoration at all.

 */

.tv-linkClean,
.tv-linkClean:hover,
.tv-linkClean:focus,
.tv-linkClean:active {
    text-decoration: none !important;
}

/*

A common pattern is to have a link with several pieces of text and/or an icon, where only one piece of text should display the underline when the link is the subject of user interaction.


a.u-linkComplex(href="") Link Complex
     span.u-linkComplexTarget Target 



 */

.tv-linkComplex,
.tv-linkComplex:hover,
.tv-linkComplex:focus,
.tv-linkComplex:active {
    text-decoration: none !important;
}

.tv-linkComplex:hover .tv-linkComplexTarget,
.tv-linkComplex:focus .tv-linkComplexTarget,
.tv-linkComplex:active .tv-linkComplexTarget {
    text-decoration: underline !important;
}