 /*  

 h2 :not Selector
  ul.nav.nav--not
    li.nav-item
      a.nav-link(href='#!') Nav Item 1
    li.nav-item
      a.nav-link(href='#!') Nav Item 2
    li.nav-item
      a.nav-link(href='#!') Nav Item 3
    li.nav-item
      a.nav-link(href='#!') Nav Item 4
    li.nav-item
      a.nav-link(href='#!') Nav Item 5
    li.nav-item
      a.nav-link(href='#!') Nav Item 6
    li.nav-item
      a.nav-link(href='#!') Nav Item 7
    li.nav-item
      a.nav-link(href='#!') Nav Item 8
 

  h2 :first-child
  ul.nav.nav--firstChild
    li.nav-item
      a.nav-link(href='#!') Nav Item 1
    li.nav-item
      a.nav-link(href='#!') Nav Item 2
    li.nav-item
      a.nav-link(href='#!') Nav Item 3
    li.nav-item
      a.nav-link(href='#!') Nav Item 4
    li.nav-item
      a.nav-link(href='#!') Nav Item 5
    li.nav-item
      a.nav-link(href='#!') Nav Item 6
    li.nav-item
      a.nav-link(href='#!') Nav Item 7
    li.nav-item
      a.nav-link(href='#!') Nav Item 8


  h2 Negative Margin
  ul.nav.nav--negativeMargin
    li.nav-item
      a.nav-link(href='#!') Nav Item 1
    li.nav-item
      a.nav-link(href='#!') Nav Item 2
    li.nav-item
      a.nav-link(href='#!') Nav Item 3
    li.nav-item
      a.nav-link(href='#!') Nav Item 4
    li.nav-item
      a.nav-link(href='#!') Nav Item 5
    li.nav-item
      a.nav-link(href='#!') Nav Item 6
    li.nav-item
      a.nav-link(href='#!') Nav Item 7
    li.nav-item
      a.nav-link(href='#!') Nav Item 8




 */

/**
 * Nav Styles
 */

$nav-bg-color: #f8f8f8;
$nav-border-color: #dedede;
$nav-link-padding: 8px 12px;
$nav-link-color: #222;
$nav-link-hover-bg-color: #eee;

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    background-color: $nav-bg-color;
    border: 1px solid $nav-border-color;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: $nav-link-color;
    font-weight: 700;
    padding: $nav-link-padding;
    &:hover {
        background-color: $nav-link-hover-bg-color;
    }
}

/* :not Selector */
.nav--not {
    .nav-item:not(:last-child) {
        border-bottom: 1px solid $nav-border-color;
    }
}

/* :first-child */
.nav--firstChild {
    .nav-item {
        border-top: 1px solid $nav-border-color;
        &:first-child {
            border-top: none;
        }
    }
}

/* Negative Margin */
.nav--negativeMargin {
    .nav-item {
        border-top: 1px solid $nav-border-color;
        margin-top: -1px;
    }
}