#main
  div(ng-include="'/views/nav.html'")
  
  div(ng-include="'/views/sidebar.html'")

  h3(translate) Main view title
  p Main view contents 1, 2, 3
  p Main view contents 4, 5, 6
  p The value of "value" is {{value}}
  br

  a(href="#/view", translate) Go to another view &gt;

  div(ng-include="'/views/footer.html'")
