nav.nav-mobile.cf
    ul#menu.flex.flex-column(ng-show="menuu", ng-click="menuu = !menuu")
          li.flex.flex-auto  
            a(ng-href="/one") Tvrbo Section 1
          li.flex.flex-auto  
            a(ng-href="/two") Tvrbo Section 2
          li.flex.flex-auto  
            a(ng-href="/three") Tvrbo Section 3
          li.flex.flex-auto  
            a(ng-href="/four") Tvrbo Section 4

    .wrap.flex.flex-justify
      a.flex.flex-auto(ng-href="",ng-click="menuu = !menuu")
        span.is--hamburger
      a.flex.flex-auto(ng-href="https://www.facebook.com/")
        span.is--facebook
      a.flex.flex-auto(ng-href="https://instagram.com/")
        span.is--instagram
      a.flex.flex-auto(ng-href="http://twitter.com/")
        span.is--twitter 
      a.flex.flex-auto(ng-href="https://www.youtube.com/user/")
        span.is--youtube
      a.flex.flex-auto(ng-href="https://vimeo.com/")
        span.is--vimeo
      a.flex.flex-auto(ng-href="http://pinterest.com//")
        span.is--pinterest