#sidebar
  ul
    li(ng-href="/") Sidebar  
    li
      a(ng-href="/one") Tvrbo Section 1
    li
      a(ng-href="/two") Tvrbo Section 2
    li
      a(ng-href="/three") Tvrbo Section 3
    li
      a(ng-href="/four") Tvrbo Section 4
