 /*  


LOOK AT MIXINS

      div.ratio-1x1
        .ratio-item
          img.ratio-image(src="http://placehold.it/400x400")

      div.ratio-2x1
        .ratio-inner
          img.ratio-image(src="http://placehold.it/800x400")        







  */

.ratio-image {
    border: 1px solid;
}

.ratio-1x1 {
    width: 33.33333%;
    .ratio-item {
        @include pad-ratio(1, 1);
    }
}

.ratio-2x1 {
    width: 66.66666%;
    .ratio-item {
        @include pad-ratio(2, 1);
    }
}

 /*  

      ul.crop-ratio
        li
          img(src="http://placehold.it/400x400") 
        li
          img(src="http://placehold.it/400x700") 
        li
          img(src="http://placehold.it/700x400") 
  */

.crop-ratio {
    li {
        width: 25%;
        height: 0;
        padding: 25% 0 0 0;
        overflow: hidden;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
    }
    li img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
        width: auto;
    }
    li img.landscape {
        max-width: none;
        max-height: 100%;
   /*  

IE9  
left: 50%;
transform: translate(-50%, 0);

    */
    }
}