/*  
				as a rule of thumb: EMs for padding, REMs for margin 			 
*/

$margin-top-fallback: 20px;
$margin-top: 20px;

$margin-bottom-fallback: 20px;
$margin-bottom: 20px;

.no-margin {
    margin: 0 !important;
}

.margin-bottom {
    margin-bottom: $margin-bottom-fallback;
    margin-bottom: $margin-bottom !important;
    #feed & {
        margin-bottom: 10px;
    }
}

.margin-top {
    margin-top: $margin-top-fallback;
    margin-top: $margin-top;
    #feed & {
        margin-top: 10px;
    }
}

.inline {
    display: inline-block;
}

/*  clearfix  */

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.has-no-overflow {
    overflow: hidden !important;
}

/**

 * Pins to all corners by default. But when a width and/or height are

 * provided, the element will be centered in its nearest relatively-positioned

 * ancestor.

 */

.is-pos-absolute-center {
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

/*  out of flow yet available for screen readers */

.is--hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}